/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* layout */
.large_container {
    margin: 0 auto;
    width: 60%;
    max-width: 1100px;
}

.small_container {
    margin: 0 auto;
    width: 50%;
    max-width: 1100px;
}

.flex {
    display: flex;
}

/* colors */
:root {
    --cyan: #B4D0E7;
}

/* typo */
body {
    font-family: 'Open Sans', sans-serif;
}

/* MAIN */

/* header */
    .nav_container {
        align-items: center;
        height: 80px;
        /* debug */
        background-color: aqua;
    }

    .mid_nav,
    .rgt_nav,
    .lft_nav {
        width: calc(100% / 3);
        /* debug */
        background-color: orange;
        height: 100%;
    }

    .mid_nav {
        background-color: red;
    }

/* hero section */
    .hero_box {
        padding-top: 85px;
        /* debug */
        background-color: var(--cyan);
    }

    .hero {
        /* debug */
        background-color: blueviolet;
        height: 600px;
    }

/* main content container */
.clm_box {
    /* debug */
    border: 2px solid black;
}

/* THREE CLMN PART */
.three_clm_box {
    /* debug */
    background-color: rgb(89, 34, 137);
    height: 600px;
    margin-bottom: 30px;
}

.card {
    width: calc(100% / 3);
    /* debug */
    background-color: aquamarine;
    border: 1px solid white;
}

/* TWO COLUMN PART */
.two_clm_box {
    margin-bottom: 150px;
    /* debug */
    background-color: red;
    height: 250px;
}

.big_card {
    width: 60%;
    /* denbug */
    background-color: black;
}


/* FOOTER */
